.body{
    /* background-color: rgb(151, 116, 116); */
    color: black;
   
}

.logo{
    width: 15vw;
    height: 17vh;
    object-fit: cover;
    margin: 0 auto;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.home {
  position: relative;
  width: 100%;
  height: 90vh;
}

.home img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeText {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: rgb(255, 253, 253);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0); 
}
@media screen and (max-width: 1440px) {
  .logo{
    width: 18vw;
    height: 17vh;
    object-fit: cover;
    margin: 0 auto;
}
}
@media screen and (max-width: 1024px) {
  .logo{
    width: 30vw;
    height: 23vh;
    object-fit: cover;
    margin: 0 auto;
}
}
@media screen and (max-width: 768px) {
  .logo{
    width: 35vw;
    height: 17vh;
    object-fit: cover;
    margin: 0 auto;
    padding: 2% 0;
}
}
@media screen and (max-width: 425px) {
  .logo{
    width: 50vw;
    height: 17vh;
    object-fit: cover;
    margin: 0 auto;
}
}
@media screen and (min-width: 1441px) {
  .logo{
    width: 20vw;
    height: 19vh;
    object-fit: cover;
    margin: 0 auto;
}
}
